/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
    position: relative;
    z-index: 1000;
}

.menu {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    background-color: #444;
    color: #f44336;
}

button,
.login-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    width: auto;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button,
.logout-btn {
    background-color: #bb4949;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover,
.login-btn:hover {
    background-color: #218838;
}

button:hover,
.login-btn:hover {
    background-color: #7d0b0d;
}

button:focus,
.login-btn:focus,
.logout-btn:focus {
    outline: none;
}

/* Hamburger menu styles */
.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1001;
}

.menu-icon span,
.menu-icon span::before,
.menu-icon span::after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    background: #fff;
    margin: 6px 0;
    transition: 0.3s;
}

.menu-icon span::before {
    transform: translateY(-9px);
}

.menu-icon span::after {
    transform: translateY(9px);
}

@media (max-width: 768px) {

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        height: 50px;
        padding: 10px 20px;
        color: #fff;
        position: relative;
        z-index: 1000;
    }

    .menu {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 50%;
        background-color: #333;
        flex-direction: column;
        align-items: flex-start;
        padding: 60px 20px;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        display: none;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    }

    .menu-toggle:checked+.menu-icon+.menu {
        display: flex;
        transform: translateX(0);
    }

    .menu-icon {
        display: block;
        background-color: #333;
    }

    .nav-link {
        margin: 15px 0;
        font-size: 18px;
        width: 100%;
        padding: 10px 20px;
        text-align: left;
        transition: background-color 0.2s ease;
    }

    .nav-link:hover {
        background-color: #555;
    }

    button,
    .login-btn {
        font-size: 16px;
        padding: 10px 20px;
        width: 100%;
        margin: 10px 0;
    }

    .navbar-user-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
    }

    .navbar-user-info span {
        margin-bottom: 10px;
        font-size: 16px;
    }
}